[submodule "tools/bamtools"]
	path = tools/bamtools
        url = https://github.com/gkno/bamtools.git
[submodule "tools/freebayes"]
	path = tools/freebayes
        url = https://github.com/gkno/freebayes.git
[submodule "tools/MOSAIK"]
	path = tools/MOSAIK
        url = https://github.com/gkno/MOSAIK.git
[submodule "tools/picard"]
	path = tools/picard
        url = https://github.com/gkno/picard.git
[submodule "tools/samtools"]
	path = tools/samtools
        url = https://github.com/gkno/samtools.git
[submodule "resources/homo_sapiens"]
	path = resources/homo_sapiens
        url = https://github.com/gkno/resources-homo_sapiens.git
[submodule "resources/tutorial"]
	path = resources/tutorial
        url = https://github.com/gkno/resources-tutorial.git
[submodule "tools/vcflib"]
	path = tools/vcflib
        url = https://github.com/gkno/vcflib.git
[submodule "tools/tabix"]
	path = tools/tabix
        url = https://github.com/gkno/tabix.git
[submodule "tools/Tangram"]
	path = tools/Tangram
        url = https://github.com/gkno/Tangram.git
[submodule "tools/bamUtil"]
	path = tools/bamUtil
        url = https://github.com/gkno/bamUtil.git
[submodule "tools/libStatGen"]
	path = tools/libStatGen
        url = https://github.com/gkno/libStatGen.git
[submodule "tools/blast"]
	path = tools/blast
	url = https://github.com/gkno/blast.git
[submodule "tools/Jellyfish"]
	path = tools/Jellyfish
	url = https://github.com/gkno/Jellyfish.git
[submodule "tools/seqan"]
	path = tools/seqan
	url = https://github.com/gkno/seqan.git
[submodule "tools/mutatrix"]
	path = tools/mutatrix
	url = https://github.com/gkno/mutatrix.git
[submodule "tools/fastQValidator"]
	path = tools/fastQValidator
	url = https://github.com/gkno/fastQValidator.git
[submodule "tools/Rufus"]
	path = tools/Rufus
	url = https://github.com/gkno/RUFUS.git
[submodule "tools/qplot"]
	path = tools/qplot
	url = https://github.com/gkno/qplot.git
[submodule "tools/parseSequenceIndex"]
	path = tools/parseSequenceIndex
	url = https://github.com/gkno/parseSequenceIndex.git
[submodule "tools/verifyBamID"]
	path = tools/verifyBamID
	url = https://github.com/gkno/verifyBamID.git
[submodule "tools/genomicRegions"]
	path = tools/genomicRegions
	url = https://github.com/gkno/genomicRegions.git
[submodule "tools/vt"]
	path = tools/vt
	url = https://github.com/gkno/vt.git
[submodule "tools/bwa"]
	path = tools/bwa
	url = https://github.com/gkno/bwa.git
[submodule "tools/pindel"]
	path = tools/pindel
	url = https://github.com/gkno/pindel.git
[submodule "tools/wham"]
	path = tools/wham
	url = https://github.com/gkno/wham.git
[submodule "tools/bedtools"]
	path = tools/bedtools
	url = https://github.com/gkno/bedtools2.git
[submodule "tools/htslib"]
	path = tools/htslib
	url = https://github.com/gkno/htslib.git
[submodule "tools/samblaster"]
	path = tools/samblaster
	url = https://github.com/gkno/samblaster
[submodule "tools/bamaddrg"]
	path = tools/bamaddrg
	url = https://github.com/gkno/bamaddrg
[submodule "tools/snpEff"]
	path = tools/snpEff
	url = https://github.com/gkno/snpEff.git
[submodule "resources-homo_sapiens_grch37"]
	path = resources-homo_sapiens_grch37
	url = https://github.com/gkno/resources-homo_sapiens_grch37.git
[submodule "resources-homo_sapiens_grch38"]
	path = resources-homo_sapiens_grch38
	url = https://github.com/gkno/resources-homo_sapiens_grch38.git
