[submodule "tools/bamtools"]
	path = tools/bamtools
	url = git://github.com/gkno/bamtools.git
[submodule "tools/freebayes"]
	path = tools/freebayes
	url = git://github.com/gkno/freebayes.git
[submodule "tools/gatk"]
	path = tools/gatk
	url = git://github.com/gkno/gatk.git
[submodule "tools/MOSAIK"]
	path = tools/MOSAIK
	url = git://github.com/gkno/MOSAIK.git
[submodule "tools/picard"]
	path = tools/picard
	url = git://github.com/gkno/picard.git
[submodule "tools/premo"]
	path = tools/premo
	url = git://github.com/gkno/premo.git
[submodule "tools/samtools"]
	path = tools/samtools
	url = git://github.com/gkno/samtools.git
[submodule "resources/homo_sapiens"]
	path = resources/homo_sapiens
	url = git://github.com/gkno/resources-homo_sapiens.git
[submodule "resources/tutorial"]
	path = resources/tutorial
	url = git://github.com/gkno/resources-tutorial.git
[submodule "tools/ogap"]
	path = tools/ogap
	url = git://github.com/gkno/ogap.git
[submodule "tools/vcflib"]
	path = tools/vcflib
	url = git://github.com/gkno/vcflib.git
[submodule "tools/tabix"]
	path = tools/tabix
	url = git://github.com/gkno/tabix.git
[submodule "tools/Tangram"]
	path = tools/Tangram
	url = git://github.com/gkno/Tangram.git
[submodule "tools/bamUtil"]
	path = tools/bamUtil
	url = git://github.com/gkno/bamUtil.git
[submodule "tools/libStatGen"]
	path = tools/libStatGen
	url = git://github.com/gkno/libStatGen.git
[submodule "configurationClass"]
    path = src/configurationClass
    url = git://github.com/gkno/configurationClass.git
[submodule "tools/blast"]
	path = tools/blast
	url = https://github.com/gkno/blast.git
[submodule "tools/Jellyfish"]
	path = tools/Jellyfish
	url = https://github.com/gkno/Jellyfish.git
[submodule "tools/seqan"]
	path = tools/seqan
	url = https://github.com/gkno/seqan.git
[submodule "tools/mutatrix"]
	path = tools/mutatrix
	url = https://github.com/gkno/mutatrix.git
[submodule "tools/fastQValidator"]
	path = tools/fastQValidator
	url = https://github.com/gkno/fastQValidator.git
[submodule "tools/Rufus"]
	path = tools/Rufus
	url = https://github.com/gkno/RUFUS.git
[submodule "tools/glia"]
	path = tools/glia
	url = https://github.com/gkno/glia.git
[submodule "tools/scissors"]
	path = tools/scissors
	url = https://github.com/gkno/scissors.git
[submodule "tools/qplot"]
	path = tools/qplot
	url = https://github.com/gkno/qplot.git
[submodule "tools/musket"]
	path = tools/musket
	url = https://github.com/gkno/musket.git
[submodule "tools/parseSequenceIndex"]
	path = tools/parseSequenceIndex
	url = https://github.com/gkno/parseSequenceIndex.git
[submodule "tools/verifyBamID"]
	path = tools/verifyBamID
	url = https://github.com/gkno/verifyBamID.git
[submodule "tools/snpEff"]
	path = tools/snpEff
	url = https://github.com/gkno/snpEff.git
